# -- Mac OS
.DS_Store
*.bak

# -- Gradle
.gradle/
build/

# -- Eclipse
.classpath
.project
.settings
bin/

# -- IntelliJ IDEA
.idea/
out/
*.iml

# -- Visual Studio Code
.vscode/

# -- Emacs
.#*

# -- VAVR build files
generator/bin/

target/
