# -- Maven
target
*.versionsBackup

# -- Gradle
.gradle
build

# -- Eclipse
.classpath
.project
.settings
bin

# -- IntelliJ IDEA
.idea
*.iml

# -- Visual Studio Code
.vscode

# -- Mac OS
.DS_Store
*.log

# -- Java
hs_err_pid*
*.class

# -- Emacs
.#*
