name: doclint
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  doc-lint:
    runs-on: ubuntu-latest
    name: Validate JavaDocs
    steps:
      - uses: actions/checkout@v5
      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          architecture: 'x64'
          cache: 'maven'

      - name: Validate JavaDocs
        run: mvn javadoc:javadoc
