name: GitHub Actions lint

on:
  pull_request:

jobs:
  actionlint:
    runs-on: ubuntu-latest
    name: Lint workflows
    steps:
      - uses: actions/checkout@v6
      - name: Check workflow files
        uses: docker://rhysd/actionlint:latest
        with:
          args: -color
